* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Local', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  overscroll-behavior: smooth;
}

body {
  will-change: scroll-position;
}
